<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>simpleWebApp</contextName>
 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d [%thread] %-5level %logger{36} - %msg%n</Pattern>
      </layout>
    </appender>
   
    <logger name="fh" level="TRACE"/>
   
    <root level="debug">
      <appender-ref ref="STDOUT" />
    </root>
</configuration>